#result {
    display: none;

    background-color: whitesmoke;
    width: 80%;
    /*margin: 0 auto; 부트스트랩 mx-auto로 양보*/
    text-align: center;
    border-radius: 20px;
}

#shareResult {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultName {
    font-size:22px;
}
.resultDesc {
    font-size: 15px;
}

.kakao {
    color: #3A1D1D;
    background-color: #FEE500;

    border: 0;
    border-radius: 12px;

    font-size: 20px;
    font-weight: 600;
}

.kakao:hover, .kakao:focus {
    color: white;
    background-color: #3A1D1D;
}

.goHome {
    color: white;
    background-color: #3A1D1D;

    border: 0;
    border-radius: 12px;

    font-size: 20px;
    font-weight: 600;
}

.goHome:hover, .goHome:focus {
    color: #3A1D1D;
    background-color: #FEE500;
}

ul.answerGroup {
    list-style: none;
}

.answerGroup li {
    /*line-style: none;*/
    background: whitesmoke;
    border-top: 1px solid #ffffff;

    color: #5e5448;
    font-size: 15px;

    padding: 1px 20px;
}

.answerGroup li:first-child {
    background: #5d5b57;
    color: #ffffff;

    border-radius: 10px 10px 0 0;
    border: none;
}

.answerGroup li:hover {
    background: #5d5b57;
    color: #ffffff;
}

.answerGroup li:last-child {
    border-radius: 0 0 10px 10px;
}