#result {
    display: none;

    background-color: whitesmoke;
    width: 80%;
    /*margin: 0 auto; 부트스트랩 mx-auto로 양보*/
    text-align: center;
    border-radius: 20px;
}

#shareResult {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultName {
    font-size:26px;
}
.resultDesc {
    font-size: 19px;
}

.kakao {
    color: #3A1D1D;
    background-color: #FEE500;

    border: 0;
    border-radius: 12px;

    font-size: 20px;
    font-weight: 600;
}

.kakao:hover, .kakao:focus {
    color: white;
    background-color: #3A1D1D;
}

.goHome {
    color: white;
    background-color: #3A1D1D;

    border: 0;
    border-radius: 12px;

    font-size: 20px;
    font-weight: 600;
}

.goHome:hover, .goHome:focus {
    color: #3A1D1D;
    background-color: #FEE500;
}
